div{margin:0;padding:0;}
body{
	background-color:lightgray;
	margin:0;padding:0;
}
#page{
	width:1140px;
	margin:0px auto;
	padding-top:1em;
}
#leftbar{
	padding-top:1em;
	width:200px;
	min-height:600px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}
#rightbar{
	padding-top:1em;
	width:200px;
	min-height:600px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}
#centerArea{
	width:740px;
	min-height:600px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}
#YT_container{
	padding-top:1em;
	width:520px;
	min-height:600px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	background-color:white;
}
#Mus_container{
	padding-top:1em;
	width:218px;
	min-height:600px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	background-color:lightyellow;
}
#recent,#alarm,#music{
	text-align:left;
}
#music{
	padding-left:20px;
}
.main_title{
	font-size:1.2em;
	font-weight:bold;
}

#YTinput{
	margin:0.5em 0em;
}
#YTinput input{
	width:250px;
}


/*media list 設定*/
.MediaDiv
{
	position:relative;
	margin-bottom:20px;
}
.MediaContent
{
	vertical-align:top;
	display:inline-block;
}
.MediaControl{
	display:inline-block;
	visibility:hidden;
	position:absolute;
	top:0;
}
.MediaDiv:hover .MediaControl{
	display:inline-block;
	visibility:visible;
	position:absolute;
	top:0;
}
/*media list:youtube 設定*/
/*media list:music 設定*/
.MusicTitle{
	margin-top:0.25em;
	margin-bottom:0.25em;
	padding:0;
	width:150px;
	overflow:hidden;
	display:block;
	white-space: nowrap;
}
#music .MediaDiv{
	margin-bottom:0px;
}
#music .MediaContent audio{
	display:none;
	position:absolute;
}
#music .MediaDiv:hover .MusicTitle{
	color:blue;
	cursor:default;
}
#music .MediaDiv:hover .MediaContent audio{
	position:absolute;
	left:0px;
	display:inline-block;
	z-index:100;
}
#music .MediaDiv:hover .MediaControl{
	width:50px;
	z-index:100;
}

/*alarm 設定*/
.AlarmDiv{
	position:relative;
	font-size:15px;
	margin-top:10px;
}
.alarm_time{
	margin-right:0.5em;
	color:blue;
	display:inline-block;
	vertical-align:top;
}
.alarm_title{
	width:130px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.AlarmContent{
	display:block;
	padding-right:20px;
	width:200;
}
.AlarmCtrl{
	display:inline-block;
	position:absolute;
	right:0px;
	top:0px;
	visibility:hidden;
}
.AlarmDiv:hover .AlarmCtrl{
	visibility:visible;
}
/*最新消息*/
.recentTitle{
	font-size:10.5pt;
	margin-right:1em;
	line-height:1.75em;
	margin-top:0.5em;
}
.recentTitle:hover{
	cursor:pointer;
	color:blue;
}
